In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import copy as cp
df = pd.read_csv("/Users/jane/Desktop/MetObjects.csv") 
print(df.head())

/Users/jane/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (7,8,9,10,11,18,27,28,29,30,31,32,33,34,35,36,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Object Number  Is Highlight  Is Public Domain  Object ID  \
0    1979.486.1         False             False          1
1    1980.264.5         False             False          2
2      67.265.9         False             False          3
3     67.265.10         False             False          4
4     67.265.11         False             False          5

                 Department Object Name                         Title Culture  \
0  American Decorative Arts        Coin  One-dollar Liberty Head Coin     NaN
1  American Decorative Arts        Coin  Ten-dollar Liberty Head Coin     NaN
2  American Decorative Arts        Coin    Two-and-a-Half Dollar Coin     NaN
3  American Decorative Arts        Coin    Two-and-a-Half Dollar Coin     NaN
4  American Decorative Arts        Coin    Two-and-a-Half Dollar Coin     NaN

  Period Dynasty                    ...                    Subregion Locale  \
0    NaN     NaN                    ...                          NaN    NaN
1    NaN     NaN                    ...                          NaN    NaN
2    NaN     NaN                    ...                          NaN    NaN
3    NaN     NaN                    ...                          NaN    NaN
4    NaN     NaN                    ...                          NaN    NaN

  Locus Excavation River Classification Rights and Reproduction  \
0   NaN        NaN   NaN          Metal                     NaN
1   NaN        NaN   NaN          Metal                     NaN
2   NaN        NaN   NaN          Metal                     NaN
3   NaN        NaN   NaN          Metal                     NaN
4   NaN        NaN   NaN          Metal                     NaN

                                      Link Resource Metadata Date  \
0  http://www.metmuseum.org/art/collection/search/1  9/10/18 8:00
1  http://www.metmuseum.org/art/collection/search/2  9/10/18 8:00
2  http://www.metmuseum.org/art/collection/search/3  9/10/18 8:00
3  http://www.metmuseum.org/art/collection/search/4  9/10/18 8:00
4  http://www.metmuseum.org/art/collection/search/5  9/10/18 8:00

                                 Repository
0  Metropolitan Museum of Art, New York, NY
1  Metropolitan Museum of Art, New York, NY
2  Metropolitan Museum of Art, New York, NY
3  Metropolitan Museum of Art, New York, NY
4  Metropolitan Museum of Art, New York, NY

[5 rows x 43 columns]

In [2]:
Feature=df[['Classification','Department','Object Name','Object Begin Date','Medium']]
Feature = Feature.dropna()
Feature.head()

,Classification,Department,Object Name,Object Begin Date,Medium
0,Metal,American Decorative Arts,Coin,1853,Gold
1,Metal,American Decorative Arts,Coin,1901,Gold
2,Metal,American Decorative Arts,Coin,1909,Gold
3,Metal,American Decorative Arts,Coin,1909,Gold
4,Metal,American Decorative Arts,Coin,1909,Gold

# One Hot Encoding

In [5]:
columns=Feature.columns.delete(3)
df_processed=Feature.iloc[:,3:4]
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoders={}
for col in columns:
    print("Encoding {}".format(col))
    new_le = LabelEncoder()
    df_processed[col] = new_le.fit_transform(Feature[col])
    label_encoders[col] = new_le

Encoding Classification

/Users/jane/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Encoding Department
Encoding Object Name
Encoding Medium

In [ ]:
columns_idx = [df_processed.columns.get_loc(col) for col in columns]
ohe = OneHotEncoder(categorical_features=columns_idx, sparse=False, handle_unknown="ignore")
df_processed_np = ohe.fit_transform(df_processed)

# Feature Hashing

In [ ]:
from sklearn.feature_extraction import FeatureHasher
H = FeatureHasher(n_features=20, input_type='string')
F = H.transform(Feature)
F.toarray()